header {
    background: #6AAFE6;
    color: #fff;
    overflow: none;
    padding: 20px 15px;
    height:65px;
    width: 100%;
    z-index: 1;
    box-shadow: 25px grey !important;
  }
  header .logo {
    color: black;
    font-weight: bolder;
    float: left;
    padding-left: 100px;
    text-align: right;
  }
  header .logo .detailLogo {
    font-size: 1.7rem;
  }
  header nav {
    float: right;
    display: flex;
    align-items: center;
  }
  .navbar a {
    color: black;
    padding: 7px 20px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 15px;
    font-weight: bolder;
}
header nav a:hover {
    text-decoration: none;
    color: white;
    font-size: 17px;
    border-radius: 20px;
  }
  header nav a.registerBtn {
    background: #639;
    padding: 7px 25px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  header nav a.registerBtn:hover{
      background-color: skyblue;
      color:black;
      font-weight: bold;
      pointer-events: stroke;
  }